body {
    background-color: lightblue;
}

#myVideo {
    position: fixed;
    right: 0;
    top: .2;
    bottom: 0;
    min-width: 90%;

    z-index: -100
}

h1 {
    color: white;
    border: 10;
    border-color: black;
    font-family: courier;
    text-align: center;
}

h2 {
  color: white;
  border: 10;
  border-color: black;
  font-family: courier;
  text-align: left;
}

p {
  color: White;
    font-family: verdana;
    font-size: 20px;
}

figcaption {
  color: White;
  font-family: verdana;
}

table {
  color: White;
  font-family: verdana;
  /*border-collapse: collapse;*/
  /*border: 1px white;*/
}

footer {
  color: White;
  font-family: verdana;
}

.column {
  float: left;
  width: 30%;
  padding: 2px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.weatherreport {
  color: White;
  font-family: verdana;
  font-size: 20px;
}
